"*":
  "exception-reporting":
    userId: "08c46211-cbb7-ad9c-7913-67ed97252c7d"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    hideVcsIgnoredFiles: true
".python.regexp.source":
  editor:
    preferredLineLength: 12
".python.source":
  editor:
    preferredLineLength: 120
